@import '_setting.scss';

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: $auth-bg-color;
  .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    img {
      height: 5rem;
    }
    h1 {
      color: white;
      text-transform: uppercase;
    }
  }
  form {
    display: flex;
    min-width: 450px;
    flex-direction: column;
    gap: 1.5rem;
    background-color: $form-bg-color;
    border-radius: 2rem;
    padding: 3rem 5rem;
    input { 
      background-color: transparent;
      padding: 1rem;
      border: 0.1rem solid $input-form-border;
      border-radius: 0.4rem;
      color: white;
      width: 100%;
      font-size: 1 rem;
      &:focus {
        border: 0.1rem solid $input-form-focus;
        outline: none;
      }
    }
    button {
      background-image: $button-bg;
      color: white;
      padding: 1rem 2rem;
      border: none;
      font-weight: bold;
      cursor: pointer;
      border-radius: 0.4rem;
      font-size: 1rem;
      text-transform: uppercase;
      transition: 0.5s ease-in-out;
      &:hover {
        background-image: $button-bg-hover;
      }
    }
    span {
      color: white;
      text-transform: uppercase;
      a {
        color: #b595a7;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          color: #a888bc;
        }
      }
    }
  }
}