@import '_setting.scss';

.modal-card-detail {
  .title-card-detail {
    .nuandev-contenteditable {
      background-color: inherit;
      border: none;
      cursor: pointer;
      font-size: inherit;
      font-weight: inherit;
      &:focus {
        background-color: #fff;
      }
    }
  }

  .content-card-detail {
    display: flex;
    justify-content: space-between;

    .body-card-detail {
      width: 60%;
      .label-and-noti {
        display: flex;
        // width: 100%;
        // align-items: center;
        justify-content: space-between;
      }
      h4 {
        i {
          margin-right: 20px;
          margin-top: 20px;
        }
      }
      
      .due-date {
        display: flex;
        .form-check-input {
          border: 2px solid #00ff51;
        }
        .due-date-string {
          margin-left: 20px;
          height: max-content;
          width: max-content;
          background-color: beige;
        }
      }

      .nuandev-contenteditable {
        background-color: inherit;
        border: none;
        cursor: pointer;
        font-size: 16px;
        // font-weight: inherit;
        &:focus {
          background-color: #fff;
        }
      }

      .attachment-file {
        background: rgba(0, 0, 0, 0.115);
        border: none;
        height: 58px;
        min-width: 112px;
        border-radius: 2px;
        position: relative;

        .delete-icon {
          // background-color: rgba(41, 41, 41, 0.63);
          border-radius: 100%;
          position: absolute;
          top: -8px;
          right: -8px;
          padding: 0 10px;
          font-size: 20px;
          color: #000;
          visibility: hidden;
        }
      }

      .attachment-file:hover {
        background: rgba(0, 0, 0, 0.3);
        .delete-icon {
          visibility: visible;
        }
      }
    
    }

    .nav-card-detail {
      display: flex;
      flex-direction: column;

      button {
        background-color: gray;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 8px;
        i {
          margin-right: 8px;
        }
      }

    }
  }

  .label-detail {
    // display: flex;
    // height: 30px;
    align-items: center;
  }
  .card-labels {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;

    .label-item {
      margin: 0 1px;
      flex: auto;
      max-width: fit-content;
      border-radius: 6px;    
    }

    .primary-label {
      background-color: rgb(214, 145, 237);
    }

    .danger-label {
      background-color: rgb(148, 3, 37);
      color: rgb(225, 228, 230)
    }

    .warning-label {
      background-color: rgb(242, 242, 51);
    }

    .success-label {
      background-color: rgb(67, 249, 88);
    }

    .secondary-label {
      background-color: rgb(72, 171, 188);
    }

    .info-label {
      background-color: rgb(209, 117, 48);
    }

    .dark-label {
      background-color: rgba(22, 15, 24, 0.894);
      color: rgb(225, 228, 230)
    }
  }
}