@import '_setting.scss';

.dashboard-bar {
  .suffix-wrapper {
    margin: 0 !important;
    .nav-link-icon {
      display: flex;
      align-items: center;

      i {
        padding: 1rem;
        color: #e9e9e9a4;
      }

      i:hover {
        color: #fff;
      }
    }
  }
}